In [5]:
import pandas as pd
from pathlib import Path
import numpy as np
import networkx as nx

In [6]:
g = nx.Graph() # Build the graph

In [7]:
path = 'data'
files = Path(path).glob('*.csv')

dfs = list()
for f in files:
    data = pd.read_csv(f)
    # .stem is method for pathlib objects to get the filename w/o the extension
    data['file'] = f.stem
    dfs.append(data)

df = pd.concat(dfs, ignore_index=True)

df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,LBA,SJH,SJD,SJA,BSH,BSD,BSA,SBH,SBD,SBA
0,E0,10/08/2018,Man United,Leicester,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,11/08/2018,Bournemouth,Cardiff,2,0,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,11/08/2018,Fulham,Crystal Palace,0,2,A,0,1,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,11/08/2018,Huddersfield,Chelsea,0,3,A,0,2,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,11/08/2018,Newcastle,Tottenham,1,2,A,1,2,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3795,E0,2010-05-09,Everton,Portsmouth,1,0,H,0,0,D,...,10.00,1.29,5.50,11.00,1.30,5.00,10.00,1.29,5.00,8.50
3796,E0,2010-05-09,Hull,Liverpool,0,0,D,0,0,D,...,1.57,6.50,3.75,1.57,6.00,3.75,1.57,6.00,3.75,1.50
3797,E0,2010-05-09,Man United,Stoke,4,0,H,2,0,H,...,19.00,1.11,9.00,21.00,1.11,7.50,23.00,1.11,7.50,15.00
3798,E0,2010-05-09,West Ham,Man City,1,1,D,1,1,D,...,1.80,3.75,3.60,1.91,4.20,3.60,1.80,4.00,3.40,1.80
3799,E0,2010-05-09,Wolves,Sunderland,2,1,H,1,1,D,...,3.10,2.38,3.25,3.00,2.38,3.25,3.00,2.25,3.20,2.88

In [16]:
for row in df.iterrows():
    home = row[1]['HomeTeam']
    g.add_node(home)

    away = row[1]['AwayTeam']
    g.add_node(away)
    
    g.add_edge(home, away)

In [20]:
print("Nodes:", len(g.nodes))
print(g.nodes)

Nodes: 36
['Man United', 'Leicester', 'Bournemouth', 'Cardiff', 'Fulham', 'Crystal Palace', 'Huddersfield', 'Chelsea', 'Newcastle', 'Tottenham', 'Watford', 'Brighton', 'Wolves', 'Everton', 'Arsenal', 'Man City', 'Liverpool', 'West Ham', 'Southampton', 'Burnley', 'Sunderland', 'Norwich', 'QPR', 'Swansea', 'Reading', 'Stoke', 'West Brom', 'Aston Villa', 'Wigan', 'Hull', 'Middlesbrough', 'Blackburn', 'Bolton', 'Birmingham', 'Blackpool', 'Portsmouth']

In [27]:
nx.ego_graph(g, n='Man United', radius = 4)

In [28]:
sorted(g.degree, key=lambda x: x[1], reverse=True)[:10]

[('Man United', 35),
 ('Chelsea', 35),
 ('Tottenham', 35),
 ('Everton', 35),
 ('Arsenal', 35),
 ('Man City', 35),
 ('Liverpool', 35),
 ('West Ham', 35),
 ('Stoke', 35),
 ('Fulham', 34)]

In [22]:
nx.write_graphml(g, "premLeague.graphml")