In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('power.csv')

df.head()

,uid,area,outages,customers,percent_out,dt_stamp
0,Allegany2023-02-26T08:30:34,Allegany,0,37530,0.00,02/26/2023 08:30:34 AM
1,Anne_Arundel2023-02-26T08:30:34,Anne Arundel,0,260037,0.00,02/26/2023 08:30:34 AM
2,Baltimore2023-02-26T08:30:34,Baltimore,54,375845,0.01,02/26/2023 08:30:34 AM
3,Baltimore_City2023-02-26T08:30:34,Baltimore City,0,281977,0.00,02/26/2023 08:30:34 AM
4,Calvert2023-02-26T08:30:34,Calvert,0,41830,0.00,02/26/2023 08:30:34 AM